{% section 'static-product' %}<div style="clear: both;"><div id="shopify-ali-review" product-id="{{ product.id }}"> {{ shop.metafields.review_collector.review_code }} </div></div>
<!--Start Stamped.io Auto Installation-->
<!-- The Div was by default here by Stamped.io and was made a snippet called reviews-stamped.liquid inside static-product.liquid -->
<!--End Stamped.io Auto Installation-->
{% include 'buddha-crosssell' %}